<center><h1>FSSM                         HAJJA Mohamed</h1></center>

<h2>Apriori Algoritm</h2>

<h3>Importing the libraries</h3>

In [ ]:
import pandas as pd 
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
import statistics as st
from mlxtend.frequent_patterns import apriori,association_rules

<h3>Data Preprocessing</h3>

In [2]:
data=pd.read_excel("sog_agg_country.xlsx")

In [28]:
data.head()

,a1_agree,a1_neutral,a1_disagree,a2_opps_other,a3_yes,a3_no,a4,a5_r,a6_r_city,a6_r_noncity,...,d6_wait,d7_bored,d7_food,d7_health,d7_info,d7_loan,d7_money,d7_none,d7_stuck,d7_work
0,93,1,5,7.40,54,46,54,43,66,34,...,33,30,30,33,33,19,35,7,37,32
1,92,2,5,7.62,59,41,46,55,68,32,...,31,31,28,26,29,19,33,6,35,36
2,90,3,7,7.42,50,50,60,46,57,43,...,36,32,34,28,42,17,39,7,37,33
3,89,4,8,7.88,64,36,40,74,55,45,...,28,27,28,25,40,17,33,8,32,35
4,92,2,6,7.02,56,44,55,43,58,42,...,32,31,33,24,26,19,32,7,38,33

In [4]:
data.columns

Index(['a1_agree', 'a1_neutral', 'a1_disagree', 'a2_opps_other', 'a3_yes',
       'a3_no', 'a4', 'a5_r', 'a6_r_city', 'a6_r_noncity', 'b1_hours_work',
       'b2_self', 'b3_dependent', 'b3_fullyindependent', 'b4_agree',
       'b4_neutral', 'b4_disagree', 'b5_man_other', 'b6_wage', 'b6_non_wage',
       'b7_full', 'b7_limited', 'b8', 'b9', 'b10_yes', 'b10_no', 'c1_care',
       'c1a_all', 'c1a_occasionally', 'c1b_spouse', 'c1b_nonspouse',
       'c1c_hours_care', 'c1d_increase', 'c1d_same', 'c1d_decrease',
       'c2_animals', 'c2_business', 'c2_clean', 'c2_cook', 'c2_farm',
       'c2_hhmanage', 'c2_none', 'c2_other', 'c2_shop', 'c2_water_fuel',
       'c2a_no', 'c2a_yes', 'c2b_spouse', 'c2c_hours_chores', 'c2d_increase',
       'c2d_same', 'c2d_decrease', 'c3_agree', 'c3_neutral', 'c3_disagree',
       'c4_housewife_other', 'd0', 'd1', 'd4_computer', 'd4_home', 'd4_land',
       'd4_none', 'd4_phone', 'd4_vehicle', 'd5_agree', 'd5_neutral',
       'd5_disagree', 'd6_health', 'd6_isolate', 'd6_job', 'd6_medical',
       'd6_migrate', 'd6_none', 'd6_other', 'd6_personal', 'd6_school',
       'd6_transport', 'd6_wait', 'd7_bored', 'd7_food', 'd7_health',
       'd7_info', 'd7_loan', 'd7_money', 'd7_none', 'd7_stuck', 'd7_work'],
      dtype='object')

In [5]:
list=[]
for i in range(87):
    for j in data.index:
        if( data.iloc[j,i]>=data[data.columns[i]].mean()):
                list.append(data.columns[i])
        else:
                list.append(np.nan)

In [6]:
dim_list=[]
list_Fin=[]
for i in range(87):
    list_Fin.append(dim_list)

In [7]:
len(list)

21402

In [8]:
k=0
j=0
for i in range(0,21402,246):
    j=j+246
    list_Fin[k]=list[i:j]
    k=k+1

In [9]:
len(list_Fin[1])==len(data[data.columns[1]])

True

In [10]:
df=pd.DataFrame(list_Fin)

In [11]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,236,237,238,239,240,241,242,243,244,245
0,a1_agree,a1_agree,a1_agree,a1_agree,a1_agree,a1_agree,a1_agree,a1_agree,NaN,NaN,...,NaN,NaN,a1_agree,NaN,a1_agree,NaN,a1_agree,NaN,a1_agree,NaN
1,NaN,NaN,NaN,NaN,NaN,a1_neutral,NaN,NaN,a1_neutral,a1_neutral,...,NaN,a1_neutral,NaN,NaN,NaN,NaN,NaN,a1_neutral,NaN,a1_neutral
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a1_disagree,...,a1_disagree,a1_disagree,a1_disagree,a1_disagree,NaN,a1_disagree,a1_disagree,a1_disagree,a1_disagree,a1_disagree
3,a2_opps_other,a2_opps_other,a2_opps_other,a2_opps_other,a2_opps_other,a2_opps_other,a2_opps_other,a2_opps_other,a2_opps_other,a2_opps_other,...,NaN,NaN,a2_opps_other,NaN,NaN,NaN,a2_opps_other,NaN,NaN,NaN
4,a3_yes,a3_yes,NaN,a3_yes,a3_yes,a3_yes,a3_yes,a3_yes,a3_yes,a3_yes,...,a3_yes,a3_yes,a3_yes,a3_yes,NaN,a3_yes,a3_yes,a3_yes,NaN,a3_yes

In [12]:
df=df.fillna(value='HAJJA')

In [13]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,236,237,238,239,240,241,242,243,244,245
0,a1_agree,a1_agree,a1_agree,a1_agree,a1_agree,a1_agree,a1_agree,a1_agree,HAJJA,HAJJA,...,HAJJA,HAJJA,a1_agree,HAJJA,a1_agree,HAJJA,a1_agree,HAJJA,a1_agree,HAJJA
1,HAJJA,HAJJA,HAJJA,HAJJA,HAJJA,a1_neutral,HAJJA,HAJJA,a1_neutral,a1_neutral,...,HAJJA,a1_neutral,HAJJA,HAJJA,HAJJA,HAJJA,HAJJA,a1_neutral,HAJJA,a1_neutral
2,HAJJA,HAJJA,HAJJA,HAJJA,HAJJA,HAJJA,HAJJA,HAJJA,HAJJA,a1_disagree,...,a1_disagree,a1_disagree,a1_disagree,a1_disagree,HAJJA,a1_disagree,a1_disagree,a1_disagree,a1_disagree,a1_disagree
3,a2_opps_other,a2_opps_other,a2_opps_other,a2_opps_other,a2_opps_other,a2_opps_other,a2_opps_other,a2_opps_other,a2_opps_other,a2_opps_other,...,HAJJA,HAJJA,a2_opps_other,HAJJA,HAJJA,HAJJA,a2_opps_other,HAJJA,HAJJA,HAJJA
4,a3_yes,a3_yes,HAJJA,a3_yes,a3_yes,a3_yes,a3_yes,a3_yes,a3_yes,a3_yes,...,a3_yes,a3_yes,a3_yes,a3_yes,HAJJA,a3_yes,a3_yes,a3_yes,HAJJA,a3_yes

In [16]:
lalist=[]
for i in range(246 ):
    lalist.append(df[i].tolist())

In [17]:
te=TransactionEncoder()
tr_wary=te.fit(lalist).transform(lalist)

In [18]:
moha=pd.DataFrame(tr_wary ,columns=te.columns_)

In [19]:
moha.head()

,HAJJA,a1_agree,a1_disagree,a1_neutral,a2_opps_other,a3_no,a3_yes,a4,a5_r,a6_r_city,...,d6_wait,d7_bored,d7_food,d7_health,d7_info,d7_loan,d7_money,d7_none,d7_stuck,d7_work
0,True,True,False,False,True,False,True,True,True,True,...,True,True,False,True,True,False,False,True,True,False
1,True,True,False,False,True,False,True,False,True,True,...,True,True,False,False,True,False,False,True,False,True
2,True,True,False,False,True,True,False,True,True,False,...,True,True,True,True,True,False,True,True,True,False
3,True,True,False,False,True,False,True,False,True,False,...,True,False,False,False,True,False,False,True,False,False
4,True,True,False,False,True,False,True,True,True,False,...,True,True,False,False,True,False,False,True,True,False

In [20]:
moha.drop('HAJJA',axis=1,inplace=True)

<h3>Trainng the Apriori model on the dataset</h3>

In [25]:
freq=apriori(moha,min_support=0.4,use_colnames=True)
rules=association_rules(freq,metric='lift',min_threshold=1)
rules=rules.sort_values(['confidence','lift'],ascending=[False,False])

<h3>results</h3>

In [26]:
print(rules)

                      antecedents         consequents  antecedent support  \
113        (b6_wage, b6_non_wage)                (a4)            0.406504
119  (c1b_nonspouse, b6_non_wage)                (a4)            0.406504
15                  (b6_non_wage)                (a4)            0.487805
118           (c1b_nonspouse, a4)       (b6_non_wage)            0.422764
93                     (c2_clean)           (c2_cook)            0.524390
..                            ...                 ...                 ...
96                     (d4_phone)           (c2_shop)            0.597561
102                    (d4_phone)                (d0)            0.597561
10                     (a1_agree)        (c3_neutral)            0.638211
5              (c1a_occasionally)          (a1_agree)            0.617886
4                      (a1_agree)  (c1a_occasionally)            0.638211

     consequent support   support  confidence      lift  leverage  conviction
113            0.516260  0.402439    0.990000  1.917638  0.192577   48.373984
119            0.516260  0.402439    0.990000  1.917638  0.192577   48.373984
15             0.516260  0.475610    0.975000  1.888583  0.223776   19.349593
118            0.487805  0.402439    0.951923  1.951442  0.196213   10.653659
93             0.552846  0.495935    0.945736  1.710670  0.206028    8.240418
..                  ...       ...         ...       ...       ...         ...
96             0.487805  0.406504    0.680272  1.394558  0.115011    1.601972
102            0.560976  0.406504    0.680272  1.212659  0.071287    1.373119
10             0.512195  0.430894    0.675159  1.318168  0.104006    1.501674
5              0.638211  0.402439    0.651316  1.020533  0.008097    1.037582
4              0.617886  0.402439    0.630573  1.020533  0.008097    1.034343

[130 rows x 9 columns]

In [27]:
rules.to_excel('modalitÃ©s_apparaitre_ensemble_COUNTRt.xlsx')